@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
    line-height: 70px;
}

/*fixed navbar*/

header {
    position: relative;
}

header nav {
    position: fixed;
    top: 2%;
    right: 2%;
    font-size: 22px;
    z-index: 1;
}

header nav a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    margin: 0 6px;
}

i.circle {
    background: #FFF;
    padding: 0 14px;
    border-radius: 50%;
}

/*sections*/

section {
    position: relative;
    height: 100vh;
}

section.bg-red {
    background: #FF0000;
}

section.bg-green {
    background: #008000;
}

section.bg-yellow {
    background: #FFFF00;
}

/*sections content*/

section > div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

section > div.container > img {
    width: 100%;
}

section > div.container > p {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

p.yellow {
    color: #FFFF00
}

p.green {
    color: #008000;
}